@{
    ViewData["Title"] = "Customer Manager";
}

@model List<CustomerModel>;

<div class="text-center">
    <h1 class="display-4">Customer Manager</h1>

    <table class="table">
        <thead>
            <tr>
                <th colspan="5">@Html.ActionLink("Add New Customer", "AddNewCustomer", "Home")</th>
            </tr>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Age</th>
                <th></th>
            </tr>
        </thead>
        @foreach (var customer in Model)
        {
            <tbody>
                <tr>
                    <td>@customer.Name</td>
                    <td>@customer.Surname</td>
                    <td>@customer.Email</td>
                    <td>@customer.Age</td>
                    <td>@Html.ActionLink("Edit", "EditCustomer", "Home", new { id = customer.Id }) - @Html.ActionLink("Delete", "RemoveCustomer", "Home", new { id = customer.Id })</td>
                </tr>
            </tbody>
        }
    </table>
</div>
